{% extends "layout.html" %}
{% block page_title %} Example - Forms {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        Questions
      </li>
      <li>
        result
      </li>
      <li>
        application tasks
      </li>
    </ol>
  </div>

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb"><p class="context">
              Overview
            </p><h1>
            Apply for firearm licence
          </h1>
        </header>
      

    

      <ol class="instruction-list steps">

        

        
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">1. </span>
              Check you're eligible for licence</h2>
            
              <p class="instruction-list-item-extra-information">Before applying, check you eligible for a firearm licence so to avoid wasting time:</p>
    
                <ul class="instruction-list-item-extra-information">

                <span class="tick">
                  <img src="/public/images/tick.svg" alt="done" width="15" height="14">
                </span>
                
                    <li>
                      <a href="/start-page" class="field">Check eligibility</a>
                    </li>

                </ul>
              
            
            
          </li>
        
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">2. </span>
              Give contact details</h2>
            
                <ul class="instruction-list-item-extra-information">
                                
                    <li>
                      
                      <a href="/to_do_list/question?name=shortlist-criteria" class="field">Give name and address</a>
                    </li>

                    <li>
                      
                      <a href="/to_do_list/question?name=evaluation-criteria" class="field">Give date of birth</a>
                    </li>

                </ul>

          </li>
        
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">3. </span>
              Nominate two referees</h2>
            
              <p class="instruction-list-item-extra-information">To apply you need two people who can act as referees and vouch for you:</p>

                <a class="instruction-list-item-extra-information" href="#">
                  Check a person is eligible to be a reference
                </a>

              <ul class="instruction-list-item-extra-information">
                
                  
                    <li>
                      <a href="#">Give contact details for referees</a>
                    </li>

              </ul>
            
          </li>
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">4. </span>
              Prove identity</h2>
            
              <p class="instruction-list-item-extra-information">To apply you need to prove your age and identity:</p>
            
            
            
              <ul class="instruction-list-item-extra-information">

                    <li>
                      <a href="#">Prove identity with GOV.UK Verify</a>
                    </li>
 
              </ul>
            
          </li>

          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">5. </span>
              Give permission to check medical details</h2>
            
              <p class="instruction-list-item-extra-information">To ensure firearms are used safely, medical information is needed for each licence holder:</p>

              <ul class="instruction-list-item-extra-information">

                    <li>
                      <a href="#">Answer questions about your medical history</a>
                    </li>

                    <li>
                      <a href="#">Give GP contact details</a>
                    </li>
  
              </ul>
            
          </li>
        
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">6. </span>
              Upload photograph</h2>
            
              <p class="instruction-list-item-extra-information">To use a firearm licence, you will need to prove your identity in person, which a photograph makes possible:</p>
                        
              <ul class="instruction-list-item-extra-information">
                
                    <li>
                      <a href="#">Take photograph</a>
                    </li>

                    <li>
                      <a href="#">Upload photograph</a>
                    </li>

              </ul>
            
          </li>
        
          
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">7. </span>
              List firearms you want to own</h2>
            
              <p class="instruction-list-item-extra-information">Give calibre, type, make, reason for each firearm you want to own:</p>

              <ul class="instruction-list-item-extra-information">
                
                  
                    <li>
                      <a href="#">List fireams</a>
                    </li>
                  
                
              </ul>
            
          </li>

          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">8. </span>
              Describe place firearm would be stored</h2>
            
              <p class="instruction-list-item-extra-information">You must give your chosen supplier a contract before they start work.</p>

              <ul class="instruction-list-item-extra-information">

                    <li>
                      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/117636/firearms-security-handbook.pdf">Read guidance on secure keeping of firearms.</a>
                    </li>    

                    <li>
                      <a href="#">Answer questions about firearm storage</a>
                    </li>        

              </ul>
            
          </li>
        
          <li class="instruction-list-item divider">
          </li>

      </ol>

    </div>

  </div>

       <div class="grid-row">
       <div class="column-two-thirds">
         
          <p>
            <a class="button button-start" href="#" role="button">Apply now</a>
          </p>
         
       </div>
     </div>
    
  <!-- bottom of list -->
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}