{% extends "layout.html" %}

{% block page_title %}
  Check rules
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Check licence rules
      </h1>

      <p>Before deciding to apply for a firearm licence, check the rules for possessing and using firearms.</p>

      <h3 class="heading-medium">You must</h3>

      <ul class="list list-bullet">
        <li>have a place to store the firearm which is built to <a href="/show_rules/storage_security">security standards</a></li>
        <li>have permission to shoot on the land firearms are used on</li>
      </ul>

      <h3 class="heading-medium">You can't</h3>

      <ul class="list list-bullet">
        <li>possess and use firearms for personal protection</li>
        <li>possess and use firearms which are not professional, sporting, collecting or recreational reasons</li>
      </ul>

      <h3 class="heading-medium">You can</h3>

      <ul class="list list-bullet">
        <li>use some firearms for target shooting</li>
        <li>use some firearms for target shooting at licence gun clubs</li>
        <li>use some firearms for humane killing of animals</li>
        <li>use firearms for expanding ammunition</li>
        <li>use some firearms for shooting live animals, for example foxes and deer</li>
        <li>use some firearms for clay pigeon shooting</li>
        <li>use self-loading shotguns for quarry shooting certain types of birds</li>
        <li>own firearms of historical importance</li>
        <li>use some firearms for exhibiting in collecting or as trophies</li>
        <li>use some firearms for theatre production and history re-enactionments</li> 
        <li>use some firearms for treating animals with tranquillisers</li>   
      </ul>

      <br>      
  
      <p>
        <a class="button button-start" href="#" role="button">Apply now</a>
      </p>

    </div>
  </div>


</main>
{% endblock %}
