{% extends "layout.html" %}

{% block page_title %}
  Example - Typography
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
        Questions
      </li>
      <li>
        answer
      </li>
      <li>
        check rules
      </li>
      <li>
        storage rules
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Storage security
      </h1>

      <p>Before deciding to apply for a firearm licence, check the rules for possessing and using firearms.</p>

      <p>Guidance on secure keeping
of firearms
Conditions of Security
Firearms Act, 1968, Amendment Acts 1988 & 1997
The Firearms Rules, 1998 state “firearms or shotguns to which a certificate relates must be stored
securely at all times so as to prevent, so far as is reasonably practicable, access to the guns by
unauthorised persons.”
A registered firearms dealer certificate is conditioned to require that “ Reasonable measures shall
be taken to maintain the safekeeping of all firearms and ammunition dealt with or kept in the
course of the registered firearms dealer’s business.”
Auctioneers, carriers and warehousemen are required by the Firearms Amendment Act, 1988 to
“take reasonable precautions for the safe custody of the firearms and ammunition in his or his
servants possession in the course of his business.”
Conditions on an Authority of the Secretary of State/ Scottish Ministers for the holding of weapons
etc to which section 5 of the 1968 Act applies, include “that the prohibited weapons are stored
at no place other that the company premises at [ ] under secure conditions as agreed with and
satisfactory to the chief officer of [ ] police”, and “that the prohibited weapons are transported
under secure conditions agreed with and satisfactory to the chief officer of [ ] police.”
One of the conditions for Home Office approved rifle and muzzle loading pistol clubs requires
that “the security arrangements for the storage of club firearms and/or ammunition are to
the satisfaction of the chief officer of police for the area or areas in which the firearms and/or
ammunition are stored.”
The requirements for a museum firearm licence include that: “the Secretary of State/Scottish
ministers shall not grant a licence unless, after consulting the chief officer of police for the area; he
is satisfied that the arrangements for exhibiting and keeping firearms and ammunition in question
are or will be such as not to endanger the public safety or the peace. A licence shall be subject
to such conditions specified in it as the Secretary of State/Scottish ministers thinks necessary for
securing safe custody of the firearms and ammunition in question.”
General Construction & Standards
These specifications are an indication of the relative construction/fabrication of items that
would provide the resistance sought in their given application. It is quite possible to produce an
acceptable level using alternative strategies, materials or their application.
The test is whether the alternatives on balance provide resistance which can equate to that
provided by the contained specification. The Standards quoted in this document should provide
a base line for these. Certain of these standards provide testing measures for resistance or
deterrence against which the overall prevention of the theft of the firearm(s) can be assessed. 
253 Guide on Firearms Licensing Law
Summaries of the appropriate standards are found in Appendix E of the “Firearm Security
Handbook”.
Certain recommendations in this section involve structural adaptation. You should be aware that
there is a need to ensure that any recommendation made will not cause any problems in relation
to load bearing of floors or walls that may cause damage. It is important that applicants are
advised that professional advice should be sought before embarking on projects of this nature.
When proposing security for domestic and commercial premises, no requirements can be
implemented that compromise the provisions for safe exiting from such premises, required in both
the Building and Fire Safety controls.
The style of security required must be reasonable for each situation.
Cabinets:
Cabinet which may be considered to be suitable for the security of the firearms, shotguns and
ammunition should be expected to provide the resistance equal to:
A cabinet manufactured and fitted as certified to comply with BS7558:1992
Or
A cabinet fabricated to the following:
Sheet steel body of not less than 2 mm (14 swg), formed by either folding,
continuous welding or a combination of these methods
When fabricating the body, the door case should be constructed to provide a
continuous rest plate the length of the opening edge to prevent the through insertion
of hacksaw blades to attack the lock bolts
The door frame may be formed by return bending of the body steel or the provision
of a bar or angle frame, welded to the carcass with sufficient relief to the edges to
provide for door locking and hanging. The frame should be designed so that the
door, when closed, can resist attempts to force it inwards
Doors should be formed from the same material with either bent, folded or post formed
edges, or the provision of a bracing frame of bar or angle steel, or ribs welded to the
inside of the door to prevent the flexing or bending of the door when closed.
Doors hung on:
 Hinges internally fitted.
 Hinges externally fitted, with either hinge bolts, anti-bar plates or interlocking formed
door edge along the hanging edge of the door.
 Swivel bars or rods with return fold anti-bar plate. The frame should be fabricated to
prevent, so far as possible, the insertion of tools to cut the pins.
 At least two steel pins of 12 mm dia or full width welded steel foot plate not less than
door thickness – for slot in type doors.
254 Guide on Firearms Licensing Law
Secured by:
 Locks to BS3621 or 7 lever safe locks with not less than 38 mm x 9 mm cross
section steel bolts.
 Locks in the approved list under HELA Tech Doc 26/5.
Locks specified above should be mounted on steel brackets or pockets, providing
strength equal to that of the door and welded to the door.
 Padlocks not less than grade 4 of the draft CEN 12320:1997. Close shackle should
be selected on open ring or plate staples.
Hinged full length doors for rifles/shotguns, should be fitted with two locking devices
fitted at points to divide the locking edge into equal parts.
On slide in, fully braced doors, the number and location of the lock(s) will be
determined by the degree of absence of flexing in the door.
Padlocks should have steel staples, hasp/staple, or padbars fabricated to equate to
the protective strength of the lock.
Provision of at least 4 fixing holes to take not less than 10 mm diameter fastening
devices. The holes to be spaced to provide maximum binding of cabinet to structure.
When ammunition or firing mechanisms are to be kept separate from the weapons, a
smaller cabinet of similar construction or a separately lockable container, either as an
extension of the cabinet, or internally fabricated, can be manufactured.
Safes
Commercially manufactured safes may be considered suitable for the securing of firearms. Even
early models, if tight and in good condition can provide physical protection that would be above
that expected on a cabinet constructed to BS7558. The following considerations should be
applied as appropriate:
Safes weighing less than 20 cwt should be secured to the floor in accordance with
the manufacturers instructions, or in the case of one already possessed, that from a
manufacturer or safe engineer.
Safes have a considerable floor loading implication. Advice must be sought for any
proposal to fit a safe on other than a solid ground floor.
To protect those safes with thinner plate backs, they must always be installed with the
back against a solid wall or be built into a wall or recess to prevent attack at the rear.
Where the safe is secured by driven boltwork, a single key lock or dial lock (either
combination or digital) is often provided. Unless there is some particular requirement,
double locking would not be necessary. 
255 Guide on Firearms Licensing Law
Clamps:
Clamps which may be considered to be suitable for the security of a single firearm or shotgun
should be:
Steel plate construction, not less than 2 mm (14 swg), all external joints to be seam
welded or of bend construction.
Secured by a lock to BS3621; 7 lever safe locks with not less than 38 mm x
9 mm cross section steel bolts; a lock on the HELA Tech doc 26/95; security padlocks
not less than grade 4 of the draft CEN 12320:1997.
Configured to enclose firearm action and trigger(s).
Provided with at least two fixing points to allow fixing devices not less than
10 mm diameter being used.
Fixed in such a location to frustrate attack on the fixings.</p>

      <h3 class="heading-medium">You can</h3>

      <ul class="list list-bullet">
        <li>use some firearms for target shooting</li>
        <li>use some firearms for target shooting at licence gun clubs</li>
        <li>use some firearms for humane killing of animals</li>
        <li>use firearms for expanding ammunition</li>
        <li>use some firearms for quarry shooting foxes and deer</li>
        <li>use some firearms for quarry shooting clay pigeons</li>
        <li>use self-loading shotguns for quarry shooting certain types of birds</li>
        <li>own firearms of historical importance</li>
        <li>use some firearms for exhibiting in collecting or as trophies</li>
        <li>use some firearms for theatre production and history re-enactionments</li> 
        <li>use some firearms for treating animals with tranquillisers</li>   
      </ul>

      <h3 class="heading-medium">You can't</h3>

      <ul class="list list-bullet">
        <li>possess or use firearms for personal protection</li>
      </ul>

      <h3 class="heading-medium">You must</h3>

      <ul class="list list-bullet">
        <li>have a place to store the firearm which is built to <a href="/show_rules/storage_security_standards">security standards</a></li>
      </ul>

      <br>      
  
      <p>
        <a class="button button-start" href="#" role="button">Apply now</a>
      </p>

    </div>
  </div>


</main>
{% endblock %}
